{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <form action="" method="POST" class="w-50 m-auto border p-5 mt-2">
            {% csrf_token %}
            <label for="">Eski</label>
            <input type="password" name="eski" id="" class="form-control">
            <label for="">Yeni</label>
            <input type="password" name="yeni" id="" class="form-control">
            <input type="submit" value="Giriş Yap" class="btn btn-primary mt-2">
        </form>
    </div>
{% endblock content %}